.theme-1{
    background-color:rgb(39, 53, 58);
}

.cardThem{
    background-color: rgb(222, 225, 228);
}

.rtl {
    direction: rtl;
}

.logo {
    position: relative;
    opacity: 0.95;
    max-width: 5%;
}