.theme-1{
    background-color:rgb(39, 53, 58);
}

.cardThem{
    background-color: rgb(222, 225, 228);
    border-radius: 10px;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.logo {
    position: relative;
    opacity: 0.95;
    max-width: 5%;
}

.tex-box{
    background-color: beige;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    text-align: center;
}

.main{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.main-2{
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.bg-left-meno{
    background-color:rgb(222, 225, 228);
    position: fixed;
    width: auto;
    height: 100%;
    border-radius: 5px;
    text-align: center;
}

.exam{

    background-color:rgb(222, 225, 228) ;
}

.exam-bar{
    border-radius: 5px;
    background-color: rgb(123, 181, 240);
}

.verify{
    display: none;
}